* {
  box-sizing: border-box;
}
body {
  font-family: Mulish, sans-serif;
  padding: 0;
  margin: 0;
}
.header {
  padding: 20px 70px 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.menu-button {
  padding: 0;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  cursor: pointer;
}
.menu-line {
  background-color: black;
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 20px;
}
.input-group {
  max-width: 830px;
  width: 70%;
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  margin-right: 40px;
}
.input-search {
  background-color: transparent;
  border: none;
  padding: 12px 23px;
  width: 100%;
}
.button-search {
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.logo {
  margin-right: 53px;
}
.icon-search {
  fill: #000000;
}
.icons {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.icons-link {
  text-decoration: none;
  opacity: 0.24;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}
.icons-link:hover {
  opacity: 0.7;
}
.user-avatar {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-left: 45px;
}

/*  SIDEBAR   */
.sidebar {
  padding-left: 32px;
  position: fixed;
  width: 240px;
  top: 114px;
  left: 0;
  height: calc(100% - 114px);
  overflow-y: auto;
  background-color: #fff;
}
.nav-menu {
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #898989;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: #e82929;
}
.nav-link:hover .icon {
  fill: #e82929;
}
.nav-item {
  margin-bottom: 28px;
  color: #898989;
}
.nav-item .icon {
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.content {
  width: 100%;
  height: 400px;
  padding-top: 114px;
  padding-left: 260px;
  padding-right: 70px;
}
.channel-title {
  display: flex;
  align-items: center;
  font-family: Mulish, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.channel-text {
  padding-left: 20px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel {
  position: relative;
  margin-bottom: 49px;
}
.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
/*  card  */

.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.video-duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  padding: 3px 9px;
  line-height: 18px;
}
.video-title {
  font-family: Mulish, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Mulish;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
.video-views {
  padding-right: 5px;
}
.video-counter {
  display: flex;
}
.video-views:after {
  content: " ";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
}
.slider-buttons {
  display: flex;
  width: 66px;
  justify-content: space-between;
}

/*      channel-recommended     */

.channel-recommended {
  position: relative;
}
.recommended-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.recommended-text {
  margin-top: 0;
  margin-bottom: 0;
}
.recommend-buttons {
  display: flex;
  justify-content: space-between;
  width: 66px;
  cursor: pointer;
}
.card-recommend-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card-recommend-video .video-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.wrapper-video {
  width: 100%;
  position: relative;
  border-radius: 14px;
  object-fit: cover;
}
.wrapper-video .video-duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.video-info {
  display: flex;
  justify-content: space-between;
}

/*    channel-recommended   */

.group-recommended {
  position: relative;
}

.group-text {
  font-family: Mulish, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #c2c2c2;
  margin-left: 19px;
}
.container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.container-title .channel-title {
  margin-bottom: 0;
  align-items: center;
}
.button-subscribe {
  background-color: #e82929;
  padding: 10px 19px 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: Mulish, sans-serif;
  cursor: pointer;
  margin-left: auto;
}
.group-buttons {
  display: flex;
  justify-content: space-between;
  width: 66px;
  margin-left: auto;
}
.mobile-sidebar {
  display: none;
}
.mobile-search {
  display: none;
}
@media (max-width: 860px) {
  .icons {
    display: none;
  }
  .user {
    margin-left: auto;
  }
  .container-title {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .group-text {
    grid-column: 1/2;
    font-size: 12px;
    align-self: flex-start;
    text-align: end;
    margin-left: 0;
  }
  .group-buttons {
    grid-column: 2/2;
    grid-row: 1/2;
    align-self: center;
  }
}
@media (max-width: 640px) {
  .header {
    padding-right: 5%;
  }
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .swiper-slide {
    height: 198px;
    margin-bottom: 30px;
  }
  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin-top: 150px;
  }
  .video-thumb {
    height: 270px;
  }
  .thumbnail {
    height: 100%;
  }
  .mobile-sidebar .nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: #f1f1f1 1px solid;
  }
  .mobile-sidebar .nav-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .mobile-sidebar .nav-item {
    margin-bottom: 0;
  }
  .mobile-sidebar .nav-text {
    margin-left: 0;
    font-size: 10px;
  }
  .mobile-search {
    display: block;
    margin-right: 11%;
  }
  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 70%;
    margin-left: 25px;
    transition: top 0.3s;
  }
  .input-group.is-open {
    opacity: 1;
    position: fixed;
    top: 20px;
    left: 0;
    margin-right: auto;
  }
  .user {
    margin-left: 0;
  }
  .user-avatar {
    margin-left: 0;
  }
  .logo {
    margin-right: auto;
  }

  .slider-buttons {
    display: none;
  }
  .recommend-buttons {
    display: none;
  }
  .group-buttons {
    display: none;
  }
}
@media (max-width: 440px) {
  .container-title {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .channel-title {
    grid-column: 1/3;
    grid-row: 1/1;
    align-self: center;
    width: 100%;
  }
  .group-text {
    grid-column: 1/3;
    grid-row: 2/2;
    font-size: 12px;
    align-self: flex-start;
    text-align: start;
    margin-left: 22%;
  }
  .button-subscribe {
    grid-column: 1/3;
    grid-row: 3/3;
    align-self: center;
    width: 100%;
  }
}
